[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = view your website on different screens sizes.
[access "refs/*"]
	owner = group user/slim (slimudoh)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/slim (slimudoh)
	label-Verified = -1..+1 group user/slim (slimudoh)
	push = group user/slim (slimudoh)
	read = group user/slim (slimudoh)
	rebase = group user/slim (slimudoh)
	removeReviewer = group user/slim (slimudoh)
	submit = group user/slim (slimudoh)
[access "refs/heads/*"]
	create = group user/slim (slimudoh)
	push = +force group user/slim (slimudoh)
	pushMerge = group user/slim (slimudoh)
	read = group user/slim (slimudoh)
[access "refs/tags/*"]
	push = group user/slim (slimudoh)
	push = +force group user/slim (slimudoh)
