$accordionColor: #ddd;
$containerColor: #fff;
$headerColor: #ccc;
$logoColor: #000;
$sidebarColor: #eee;
$bannerColor: #ddd;
$deviceColor: #fff;
$footerColor: #eee;

.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding-left: 220px;
  padding-right: 20px;
  padding-top: 5px;
  min-width: 1200px;

  >.container__content {
    overflow: hidden;
  }
}

.accordion {

  >.accordion__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    border-bottom: 1px solid #ccc;
    overflow: hidden;

    >div {
      width: 100px;
      height: 40px;
      border-top: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      font-size: 10px;
      cursor: pointer;
    }
  }

  >.accordion__body {
    height: 95vh;
    overflow: auto;
    padding-bottom: 50px;
  }
}



.banner {
  background-color: $bannerColor;
  padding: 0 10px;
  margin-top: 5px;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, .2);
  }

  >.banner__name {
    width: 200px;
    text-transform: capitalize;
    font-size: 14px;
  }

  >.banner__view {
    width: 200px;
    text-align: right;
    font-size: 14px;
  }
}

.device {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  align-content: center;
  overflow: hidden;

  >.device__phone {
    width: 100%;
    padding: 30px 0;
    border-radius: 4px;
    overflow: hidden;
    background: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;

    >.device__phone--device {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      align-content: center;
      overflow: hidden;
      border-radius: 60px;
      background-color: #000;

      >.device__phone--screen {
        background-color: #fff;
        overflow: hidden;
      }
    }


  }


}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: $sidebarColor;
  padding-left: 20px;
}

iframe {
  border: 0;
}

  body {

    ::-webkit-scrollbar {
      width: 5px;
    }

    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
  }