$accordionColor: #ddd;
$containerColor: #fff;
$headerColor: #24292e;
$logoColor: #fff;
$sidebarColor: #24292e;
$bannerColor: #ddd;
$deviceColor: #fff;
$footerColor: #eee;
$deviceLoaderColor: #24292e;
$debugger: 1px dotted red;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  background-color: $headerColor;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;

  >.header__logo {
    width: 200px;
    color: $logoColor;
    font-size: 25px;
    font-weight: 600;
  }

  >.header__search {
    width: 500px;
    height: 35px;
    border-radius: 50px;
    overflow: hidden;
    background-color: #3f4448;

    >form {
      >input {
        height: 35px;
        padding: 0 10px;
        background-color: transparent;
        border: 0;
        outline: 0;
        color: #fff;
        font-size: 14px;
      }
    }
  }
}

.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  height: 100%;
  width: 50px;
  padding: 5px;
  background-color: $sidebarColor;

  >.sidebar__container {
    padding-bottom: 5px;

    >div {
      height: 40px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      border: 1px solid #ddd;
      margin-bottom: 5px;
      font-size: 25px;
      cursor: pointer;
      background-color: transparent;

      >.sidebar__container--portrait {
        width: 15px;
        height: 25px;
        background-color: #fff;
      }

      >.sidebar__container--landscape {
        width: 25px;
        height: 15px;
        background-color: #fff;
      }

      &:hover {
        background-color: rgba(255, 255, 255, .2);
      }
    }
  }

  >.sidebar__rule {
    height: 2px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  >.sidebar__about {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
    overflow: auto;

    >.sidebar__about--cover {
      max-width: 600px;
      padding: 10px;
      margin: 100px auto;

      >.sidebar__about--modal {
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        text-align: center;

        >p {
          text-align: right;
          margin: 0;

          >span {
            font-size: 14px;
            cursor: pointer;
          }
        }

        >span {
          font-size: 30px;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.18;
          letter-spacing: normal;
          text-align: center;
          color: #24292e;
        }

        >div {
          >p {
            font-size: 14px;
            font-weight: 200;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.46;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
          }

          >span {
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.86;
            letter-spacing: normal;
            text-align: left;
            color: #000000;

            >a {
              text-decoration: none;
              font-size: 14px;
              font-weight: 300;
              font-stretch: normal;
              font-style: normal;
              line-height: 2.86;
              letter-spacing: normal;
              text-align: center;
              color: #777777;

              &:hover {
                color: #000;
              }
            }
          }
        }
      }
    }
  }
}


.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding-left: 60px;
  padding-right: 10px;
  padding-top: 60px;
  min-width: 1200px;
  background-color: #3f4448;
  z-index: -1;

  >.container__content {
    overflow: hidden;
  }
}

.phones {
  height: 89vh;
  overflow: auto;
  padding-bottom: 50px;

  >.phones__container {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: center;
  }
}

.device {
  margin: 10px;
  padding-top: 10px;
  overflow: hidden;
  background: #ddd;
  background-color: $headerColor;

  >.device__info {
    padding: 0 5px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;

    >.device__info--name {
      width: 60%;
      text-align: left;
    }

    >.device__info--dimension {
      width: 40%;
      text-align: right;
    }
  }


  >.device__phone {
    overflow: hidden;
    background: #ddd;
    background-color: $headerColor;


    >.device__phone--device {
      background-color: #000;

      >.device__phone--screen {
        background-color: #fff;
        overflow: hidden;
        position: relative;

        >.device__loader {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          background: #fff;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          align-content: center;

          >div {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            border-top: 5px solid $deviceLoaderColor;
            border-right: 5px solid transparent;
            border-bottom: 5px solid $deviceLoaderColor;
            border-left: 5px solid $deviceLoaderColor;
            animation: loader .3s linear infinite;
            -moz-animation: loader .3s linear infinite;
            -o-animation: loader .3s linear infinite;
            -webkit-animation: loader .3s linear infinite;
          }
        }
      }
    }
  }
}

iframe {
  border: 0;
}

body {

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
}


@keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-o-keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-moz-keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}