$bannerColor: #ddd;

.banner {
    background-color: $bannerColor;
    padding: 0 10px;
    margin: 5px 0;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    border-radius: 4px;
    overflow: hidden;

    >.banner__name {
        width: 200px;
        text-transform: capitalize;
        font-size: 14px;
    }

    >.banner__view {
        width: 200px;
        text-align: right;
        font-size: 14px;
    }
}