$containerColor: #fff;
$debugger: 1px dotted red;

.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $containerColor;
    padding-left: 220px;
    padding-right: 20px;
    padding-top: 70px;

    >.container__content {
        border: $debugger;
        overflow: hidden;
    }
}