$headerColor: #ccc;
$logoColor: #000;
$debugger: 1px dotted red;

.header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 1200px;
  background-color: $headerColor;
  padding: 0 20px;
  z-index: 9;

  >.header__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    height: 50px;

    >.header__container--logo {
      width: 200px;
      overflow: hidden;
      font-family: 'Ubuntu', sans-serif;
      font-size: 25px;
      color: $logoColor;
    }
  }
}