$sidebarColor: #eee;
$debugger: 1px dotted red;

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: $sidebarColor;
    padding-left: 20px;

}